{% set cfg = namespace() %}

{% set cfg.tgtLoc = node.location.name %}
{% set cfg.odsName = node.name ~ '_ODS' %}
{% set cfg.taskName = 'POPULATE_' ~ cfg.odsName %}
{% set cfg.viewName = node.name %}
{% set cfg.src = ref(sources[0].dependencies[0].node.location.name, sources[0].dependencies[0].node.name) %}
{% set cfg.streamName = node.name ~ '_TABLE_CHANGES' %}
{% set cfg.dmlCol = (columns | selectattr("cdcDMLIdent", "eq", true) | list | first).name %}
{% set cfg.tsCol = (columns | selectattr("cdcTimestamp", "eq", true) | list | first).name %}

{% if config.taskEnabled is true %}

    {{ stage('Resume Task') }}

    ALTER TASK {{ ref_no_link(cfg.tgtLoc, cfg.taskName) }} RESUME

{% else %}

    {{ stage('Merge From Stream') }}

    MERGE INTO {{ ref_no_link(cfg.tgtLoc, cfg.odsName) }} "{{ cfg.odsName }}"
    USING (

        SELECT
        {% for col in sources[0].columns %}
            {{ get_source_transform(col) }} AS "{{ col.name }}"
            {%- if not loop.last -%}, {% endif %}
        {% endfor %}

        FROM {{ ref_no_link(cfg.tgtLoc, cfg.streamName) }} AS "{{ sources[0].dependencies[0].node.name }}"
        QUALIFY 1 = ROW_NUMBER() OVER ( PARTITION BY   {% for col in columns if col.isBusinessKey %}
                                                        "{{ col.name }}"
                                                        {%- if not loop.last -%},{% endif %}
                                                    {% endfor %}
                                        ORDER BY "{{ (columns | selectattr("cdcTimestamp", "eq", true) | list | first).name }}" DESC)

    ) DELTA
    ON  {% for col in columns if col.isBusinessKey %}
            "{{ cfg.odsName }}"."{{ col.name }}" = DELTA."{{ col.name }}"
            {% if not loop.last %}AND{% endif %}
        {% endfor %}


    WHEN NOT MATCHED AND DELTA."{{ cfg.dmlCol }}" = '{{ config.cdcDMLinsert }}'
    THEN INSERT (
        {% for col in columns %}"{{ cfg.odsName }}"."{{ col.name }}"
            {%- if not loop.last -%},{% endif %}
        {% endfor %}
    ) VALUES (
        {% for col in columns %}DELTA."{{ col.name }}"
            {%- if not loop.last -%},{% endif %}
        {% endfor %}
    )

    WHEN NOT MATCHED AND DELTA."{{ cfg.dmlCol }}" = '{{ config.cdcDMLupdate }}'
    THEN INSERT (
        {% for col in columns %}
            "{{ cfg.odsName }}"."{{ col.name }}"
            {%- if not loop.last -%},{% endif %}
        {% endfor %}
    ) VALUES (
        {% for col in columns %}
            DELTA."{{ col.name }}"
            {%- if not loop.last -%},{% endif %}
        {% endfor %}
    )

    WHEN MATCHED AND DELTA."{{ cfg.dmlCol }}" = '{{ config.cdcDMLupdate }}'
    THEN UPDATE SET 
    {% for col in columns %}
        "{{ cfg.odsName }}"."{{ col.name }}" = DELTA."{{ col.name }}"
        {%- if not loop.last -%},{% endif %}
    {% endfor %}

    
    {% if config.softDelete %}

        WHEN NOT MATCHED AND DELTA."{{ cfg.dmlCol }}" = '{{ config.cdcDMLdelete }}'
        THEN INSERT (
            {% for col in columns %}
                "{{ cfg.odsName }}"."{{ col.name }}"
                {%- if not loop.last -%},{% endif %}
            {% endfor %}
        ) VALUES (
            {% for col in columns %}
                DELTA."{{ col.name }}"
                {%- if not loop.last -%},{% endif %}
            {% endfor %}
        )

        WHEN MATCHED AND DELTA."{{ cfg.dmlCol }}" = '{{ config.cdcDMLdelete }}'
        THEN UPDATE SET 
        {% for col in columns if col.cdcDMLIdent or col.cdcTimestamp or col.isSystemCreateDate %}
            "{{ cfg.odsName }}"."{{ col.name }}" = DELTA."{{ col.name }}"
            {%- if not loop.last -%},{% endif %}
        {% endfor %}
        
    {% endif %}
{% endif %}