{% if node.override.create.enabled %}

	{{ node.override.create.script }}

{% elif node.materializationType == 'table' %}
	{{ stage('Create Stage Table') }}

	CREATE OR REPLACE TABLE {{ ref_no_link(node.location.name, node.name) }}
	(
		{% for col in columns %}
			"{{ col.name }}" {{ col.dataType }}
			{%- if not col.nullable %} NOT NULL
				{%- if col.defaultValue | length > 0 %} DEFAULT {{ col.defaultValue }}{% endif %}
			{% endif %}
			{%- if col.description | length > 0 %} COMMENT '{{ col.description }}'{% endif %}
			{%- if not loop.last -%}, {% endif %}
		{% endfor %}
	)
	{%- if node.description | length > 0 %} COMMENT = '{{ node.description }}'{% endif %}


{% elif node.materializationType == 'view' %}
    {{ stage('Create Stage View') }}

    CREATE OR REPLACE VIEW {{ ref_no_link(node.location.name, node.name) }}
    (
        {% for col in columns %}
            "{{ col.name }}"
            {%- if col.description | length > 0 %} COMMENT '{{ col.description }}'{% endif %}
            {%- if not loop.last -%}, {% endif %}
        {% endfor %}
    )
    {%- if node.description | length > 0 %} COMMENT = '{{ node.description }}'{% endif %}
    AS
    {% for source in sources %}
        SELECT
        {% set groupby = namespace(columns=[]) %}
        {% for col in source.columns %}

            {% for aggcol in config.agg.get('items') if col.id == aggcol.column.id %}
                {{ aggcol.function | upper | replace(" ","_") }}(
                    {%- if aggcol.distinct %}DISTINCT {% endif -%}
                    {{ get_source_transform(col) -}}
                )
            {% else %}
                {% set x = groupby.columns.append(col) %}
                {{ get_source_transform(col) }}
            {% endfor %}

            AS "{{ col.name }}"
            {%- if not loop.last -%}, {% endif %}
        {% endfor %}
        
        {{ source.join }}

        {% if config.autoGroupBy %}
            {% for gcol in groupby.columns %}
                {% if loop.first %}GROUP BY{% endif %}
                {{ get_source_transform(gcol) }}
                {% if not loop.last %},{% endif %}
            {% endfor %}
        {% endif %}

        {% if not loop.last %}
            {% if config.insertStrategy in ['UNION', 'UNION ALL'] %}
                {{ config.insertStrategy }}
            {% else %}
                UNION
            {% endif %}
        {% endif %}
    {% endfor %}

{% endif %}